#**Experiment-9**
###Study of Pandas Library
####Batch- ENTC A2
#### Ayush Phale PRN  25070123028

In [ ]:
#Introduction to Pandas
# Pandas: Panel Data
''' Used for:
EDA
Structed data
Data cleaning'''

In [ ]:
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#Create DataFrame
data={
    "Name":["A","B","C"],
    "Marks":[85,90,78]
}
df=pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
#Find the structure of  the DataFrame
df.shape

(3, 2)

In [ ]:
#Dimension of  the DataFrame
df.ndim    #will always give no of columns

2

In [ ]:
#size of the DataFrame
df.size

6

In [ ]:
#Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#check Data types of each columns
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
#Access individual Column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [ ]:
#Access Specific Row
df.loc[1]

Name      B
Marks    90
Name: 1, dtype: object

In [ ]:
#Add a new column
df["Grade"]=["First CLass","Distinction","Second Class"]
df

  Name  Marks         Grade
0    A     85   First CLass
1    B     90   Distinction
2    C     78  Second Class

In [ ]:
#Update Data in DataFrame
#Change marks of student to 88
df.loc[0,"Marks"] = 88
df

  Name  Marks         Grade
0    A     88   First CLass
1    B     90   Distinction
2    C     78  Second Class

In [ ]:
#Delete a column
df.drop("Grade",axis=1,inplace=True)
df

  Name  Marks
0    A     88
1    B     90
2    C     78

In [ ]:
#Perform Basic Statistical Analysis
mean1 = df["Marks"].mean()
mean1

np.float64(85.33333333333333)

In [ ]:
min1 = df["Marks"].min()
min1

78

In [ ]:
max1 = df["Marks"].max()
max1

90

In [ ]:
#Appy condition(Filtering)
#Display students scoring more than 80
df[df["Marks"]>80]
df

  Name  Marks
0    A     88
1    B     90
2    C     78